In [62]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql import DataFrame
from pyspark.sql.functions import sum
from pyspark.sql.functions import lit
from pyspark.sql.functions import concat_ws
from pyspark.sql.functions import concat

In [3]:
spark = SparkSession.builder.appName('my_app').getOrCreate()

In [5]:
interstellar_df = spark.read.csv('interstellar_travel.csv', header=True, inferSchema=True)

In [6]:
interstellar_df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Travel Class: string (nullable = true)
 |-- Destination: string (nullable = true)
 |-- Star System: string (nullable = true)
 |-- Distance to Destination (Light-Years): double (nullable = true)
 |-- Duration of Stay (Earth Days): double (nullable = true)
 |-- Number of Companions: integer (nullable = true)
 |-- Purpose of Travel: string (nullable = true)
 |-- Transportation Type: string (nullable = true)
 |-- Price (Galactic Credits): double (nullable = true)
 |-- Booking Date: string (nullable = true)
 |-- Departure Date: string (nullable = true)
 |-- Special Requests: string (nullable = true)
 |-- Loyalty Program Member: string (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Customer Satisfaction Score: double (nullable = true)

In [7]:
interstellar_df.describe()

DataFrame[summary: string, Age: string, Gender: string, Occupation: string, Travel Class: string, Destination: string, Star System: string, Distance to Destination (Light-Years): string, Duration of Stay (Earth Days): string, Number of Companions: string, Purpose of Travel: string, Transportation Type: string, Price (Galactic Credits): string, Booking Date: string, Departure Date: string, Special Requests: string, Loyalty Program Member: string, Month: string, Customer Satisfaction Score: string]

In [21]:
interstellar_df.show()

+---+------+--------------+------------+--------------------+--------------------+-------------------------------------+-----------------------------+--------------------+-----------------+-------------------+------------------------+------------+--------------+----------------+----------------------+-----+---------------------------+
|Age|Gender|    Occupation|Travel Class|         Destination|         Star System|Distance to Destination (Light-Years)|Duration of Stay (Earth Days)|Number of Companions|Purpose of Travel|Transportation Type|Price (Galactic Credits)|Booking Date|Departure Date|Special Requests|Loyalty Program Member|Month|Customer Satisfaction Score|
+---+------+--------------+------------+--------------------+--------------------+-------------------------------------+-----------------------------+--------------------+-----------------+-------------------+------------------------+------------+--------------+----------------+----------------------+-----+---------------------------+
| 14|Female|      Colonist|    Business|          Gliese 581|Cunningham Mountains|                                 1.09|                         11.0|                   5|          Tourism|         Warp Drive|              828.949275|   9/17/2023|      1/7/2025|           Other|                    No|    9|                      105.0|
| 22|  Male|       Tourist|     Economy|      Alpha Centauri|         Hayes Trace|                                  5.7|                         23.0|                   0|         Research|      Solar Sailing|              488.469135|   3/31/2023|    12/26/2025|           Other|                    No|    3|                      102.0|
| 62|Female|Businessperson|      Luxury|      Alpha Centauri|           Anna Port|                                 0.37|                          4.0|                   1|          Tourism|       Ion Thruster|              183.745881|   5/19/2022|      1/4/2025|            None|                   Yes|    5|                      100.0|
| 21|Female|      Colonist|     Economy|       Lalande 21185|         Henry Ville|                                 0.32|                         23.0|                   1|          Tourism|         Warp Drive|                 358.754|   4/13/2023|      2/9/2024|            None|                    No|    4|                      108.0|
| 42|  Male|      Explorer|      Luxury|Exotic Destinatio...|         Graves Mall|                                 6.17|                         42.0|                   1|     Colonization|       Ion Thruster|              3073.75992|   6/12/2023|     3/15/2024|    Special Meal|                    No|    6|                       97.0|
| 30|  Male|         Other|     Economy|            Tau Ceti|      Vazquez Tunnel|                                10.51|                         60.0|                   1|     Colonization|         Warp Drive|              1136.16195|   4/13/2023|     2/16/2025|           Other|                    No|    4|                      105.0|
| 51|  Male|     Scientist|    Business|       Lalande 21185|       Carlos Island|                                  0.2|                         90.0|                   2|         Research|       Ion Thruster|              321.343754|  11/13/2023|     6/11/2024|     Window Seat|                   Yes|   11|                      107.0|
| 19|Female|         Other|      Luxury|          Kepler-22b|         James Pines|                                 6.17|                          6.0|                   7|          Tourism|       Ion Thruster|             1581.888751|   4/22/2022|     7/18/2024|    Special Meal|                   Yes|    4|                      107.0|
| 78|Female|Businessperson|     Economy|    Zeta II Reticuli|       Michelle Fork|                                 2.36|                         28.0|                   1|         Business|      Solar Sailing|              166.475925|  10/19/2022|      6/8/2025|Extra Space Suit|                   Yes|   10|                      102.0|
| 81|Female|Businessperson|    Business|       Lalande 21185|           Ryan Walk|                                 0.09|                         72.0|                   1|     Colonization|       Ion Thruster|               86.204696|   3/27/2022|     6/13/2024|    Special Meal|                   Yes|    3|                      102.0|
| 30|Female|         Other|     Economy|          Trappist-1|         Adam Spring|                                 2.29|                        155.0|                   1|     Colonization|              Other|              820.802714|   4/10/2023|      9/2/2024|    Special Meal|                   Yes|    4|                      102.0|
| 12|Female|         Other|     Economy|    Zeta II Reticuli|       Arroyo Forges|                                 0.37|                         22.0|                   1|          Tourism|       Ion Thruster|               70.508557|  12/23/2022|    12/19/2025|           Other|                   Yes|   12|                      112.0|
| 33|  Male|      Explorer|     Economy|Exotic Destination 5|        William Club|                                 5.23|                         27.0|                   2|         Research|       Ion Thruster|                338.2533|   3/25/2022|    10/19/2024|            None|                   Yes|    3|                      105.0|
| 35|  Male|      Explorer|     Economy|          Kepler-22b|         Smith Inlet|                                 3.46|                         71.0|                   2|     Colonization|         Warp Drive|              1428.30072|   8/12/2023|     7/12/2024|           Other|                    No|    8|                      100.0|
|  8|Female|         Other|     Economy|    Zeta II Reticuli|       Robert Unions|                                 11.8|                          8.0|                   0|            Other|         Warp Drive|             1654.276932|   6/28/2023|     8/20/2025|           Other|                   Yes|    6|                      105.0|
| 23|Female|      Colonist|      Luxury|Exotic Destination 2|       Herrera Lodge|                                 0.61|                          1.0|                   2|          Tourism|              Other|                842.1966|   7/26/2023|    12/27/2024|           Other|                    No|    7|                      102.0|
| 12|Female|      Colonist|    Business|Exotic Destination 9|     Brittany Drives|                                 0.87|                         80.0|                   1|            Other|       Ion Thruster|              1237.42579|   8/19/2023|      9/3/2024|           Other|                   Yes|    8|                      102.0|
| 66|  Male|     Scientist|     Economy|          Gliese 581|        Cruz Parkway|                                 0.35|                         18.0|                   0|            Other|      Solar Sailing|                21.39291|   5/17/2022|     6/22/2025|    Special Meal|                   Yes|    5|                      102.0|
| 36|  Male|      Explorer|     Economy|      Alpha Centauri|            Sims Run|                                 8.06|                         70.0|                   0|     Colonization|      Solar Sailing|             2750.166862|   12/5/2023|     4/30/2024|     Window Seat|                    No|   12|                       97.0|
| 13|Female|      Colonist|     Economy|          Gliese 581|    Charles Motorway|                                 2.35|                         19.0|                   0|         Business|              Other|               710.33545|  12/16/2023|     11/7/2025|            None|                    No|   12|                      105.0|
+---+------+--------------+------------+--------------------+--------------------+-------------------------------------+-----------------------------+--------------------+-----------------+-------------------+------------------------+------------+--------------+----------------+----------------------+-----+---------------------------+
only showing top 20 rows

In [16]:
interstellar_df.head(2)

[Row(Age=14, Gender='Female', Occupation='Colonist', Travel Class='Business', Destination='Gliese 581', Star System='Cunningham Mountains', Distance to Destination (Light-Years)=1.09, Duration of Stay (Earth Days)=11.0, Number of Companions=5, Purpose of Travel='Tourism', Transportation Type='Warp Drive', Price (Galactic Credits)=828.949275, Booking Date='9/17/2023', Departure Date='1/7/2025', Special Requests='Other', Loyalty Program Member='No', Month=9, Customer Satisfaction Score=105.0),
 Row(Age=22, Gender='Male', Occupation='Tourist', Travel Class='Economy', Destination='Alpha Centauri', Star System='Hayes Trace', Distance to Destination (Light-Years)=5.7, Duration of Stay (Earth Days)=23.0, Number of Companions=0, Purpose of Travel='Research', Transportation Type='Solar Sailing', Price (Galactic Credits)=488.469135, Booking Date='3/31/2023', Departure Date='12/26/2025', Special Requests='Other', Loyalty Program Member='No', Month=3, Customer Satisfaction Score=102.0)]

In [22]:
interstellar_df = interstellar_df.withColumnRenamed('Age', 'AGE')\
                                 .withColumnRenamed('Female','FEMALE')

In [30]:
interstellar_df.count()

547568

In [26]:
interstellar_df = interstellar_df.withColumn('AGE',interstellar_df['AGE'].cast('int'))

In [32]:
interstellar_df = interstellar_df.dropDuplicates()   #interstellar_df = interstellar_df.dropDuplicates(['AGE'])

In [33]:
interstellar_df.count()

547568

In [37]:
#interstellar_df = interstellar_df.dropna()
interstellar_df = interstellar_df.dropna(how='all')
#interstellar_df = interstellar_df.dropna(subset=['Age'])

In [38]:
interstellar_df.count()

547568

In [39]:
interstellar_df= interstellar_df.withColumn('Age * 2', interstellar_df['AGE']*2)

In [40]:
interstellar_df

DataFrame[AGE: int, Gender: string, Occupation: string, Travel Class: string, Destination: string, Star System: string, Distance to Destination (Light-Years): double, Duration of Stay (Earth Days): double, Number of Companions: int, Purpose of Travel: string, Transportation Type: string, Price (Galactic Credits): double, Booking Date: string, Departure Date: string, Special Requests: string, Loyalty Program Member: string, Month: int, Customer Satisfaction Score: double, Age * 2: int]

In [42]:
interstellar_df = interstellar_df.withColumn('AGE - Agender', concat_ws('-',interstellar_df['AGE'], interstellar_df['Gender']))

In [43]:
interstellar_df

DataFrame[AGE: int, Gender: string, Occupation: string, Travel Class: string, Destination: string, Star System: string, Distance to Destination (Light-Years): double, Duration of Stay (Earth Days): double, Number of Companions: int, Purpose of Travel: string, Transportation Type: string, Price (Galactic Credits): double, Booking Date: string, Departure Date: string, Special Requests: string, Loyalty Program Member: string, Month: int, Customer Satisfaction Score: double, Age * 2: int, AGE - Agender: string]

In [44]:
interstellar_df = interstellar_df.withColumn('AgeGender', concat(interstellar_df['Age'], interstellar_df['Gender']))

In [45]:
interstellar_df

DataFrame[AGE: int, Gender: string, Occupation: string, Travel Class: string, Destination: string, Star System: string, Distance to Destination (Light-Years): double, Duration of Stay (Earth Days): double, Number of Companions: int, Purpose of Travel: string, Transportation Type: string, Price (Galactic Credits): double, Booking Date: string, Departure Date: string, Special Requests: string, Loyalty Program Member: string, Month: int, Customer Satisfaction Score: double, Age * 2: int, AGE - Agender: string, AgeGender: string]

In [46]:
interstellar_df = interstellar_df.drop('AGE-Gender','AGEGender')

In [47]:
interstellar_df

DataFrame[AGE: int, Gender: string, Occupation: string, Travel Class: string, Destination: string, Star System: string, Distance to Destination (Light-Years): double, Duration of Stay (Earth Days): double, Number of Companions: int, Purpose of Travel: string, Transportation Type: string, Price (Galactic Credits): double, Booking Date: string, Departure Date: string, Special Requests: string, Loyalty Program Member: string, Month: int, Customer Satisfaction Score: double, Age * 2: int, AGE - Agender: string]

In [48]:
interstellar_df = interstellar_df.drop('AGE - Agender', 'Age * 2')

In [49]:
interstellar_df

DataFrame[AGE: int, Gender: string, Occupation: string, Travel Class: string, Destination: string, Star System: string, Distance to Destination (Light-Years): double, Duration of Stay (Earth Days): double, Number of Companions: int, Purpose of Travel: string, Transportation Type: string, Price (Galactic Credits): double, Booking Date: string, Departure Date: string, Special Requests: string, Loyalty Program Member: string, Month: int, Customer Satisfaction Score: double]

In [56]:
interstellar_df.createOrReplaceTempView('t1')

In [61]:
spark.sql(
    'select age from t1'
).show()

+---+
|age|
+---+
| 27|
| 13|
| 55|
| 31|
| 12|
| 23|
| 31|
| 50|
|  9|
| 76|
| 34|
|  6|
| 16|
| 25|
| 26|
| 27|
| 20|
| 32|
| 42|
| 25|
+---+
only showing top 20 rows

In [65]:
interstellar_df.write.format('csv').save('output')

AnalysisException: [PATH_ALREADY_EXISTS] Path file:/C:/Users/hp/Desktop/dax + pyspark + power bi + tableau/output already exists. Set mode as "overwrite" to overwrite the existing path.